<section ng-controller="FilesController">
  <p ng-show="error" class="error">
    {{error}}
  </p>
  <h3>Pick files!</h3>
  <ul file-drop="addFile" drop-hilight-color="#444" class="files">
    <li>
      <a for="file" id="addButton"
	 ng-click="clickAddFile()"
	 class="blue button">Browse</a>
      <input type="file" id="file"
             style="display: none"
	     multiple
	     file-receiver="addFile">
    </li>
    <li ng-show="files.length < 1" id="dropnote">
      Or drag'n'drop files here...
    </li>
    <li ng-repeat="file in files" class="file">
      <span class="name">{{file.name}}</span>
      <span class="size">{{humanSize(file.size)}}</span>
      <a class="rm red button" ng-click="rmFile(file)">✘</a>
    </li>
    <li ng-show="files.length > 0" class="totalSize">
	Total: {{humanSize(bytesTotal)}}
    </li>
  </ul>
  <div ng-show="files.length > 0">
    <p class="chunkSize">
      <label for="piecelength">Chunk size:</label>
      <select id="piecelength"
	      ng-model="pieceLength"
	      ng-options="humanSize(l) for l in pieceLengths"
	      ng-change="updateTotalSize()">
      </select>
    </p>
    <p class="torrentSizeEstimate">
      Estimated .torrent size: {{humanSize(torrentSizeEstimate)}}
    </p>
  </div>
  <p ng-show="files.length > 0" style="text-align: center">
    <a ng-click="startHashing()" class="green button"
       id="startButton">
      Hash files
    </a>
  </p>
</section>
