<section ng-controller="TorrentController">
  <pre ng-show="error != null">{{error}}</pre>

  <h3>Seed your Torrent!</h3>
  <p style="text-align: left">
    No data has been uploaded so far. Get a BitTorrent client such as
    <a href="http://www.transmissionbt.com/">Transmission</a>,
    <a href="http://libtorrent.rakshasa.no/">rtorrent</a>,
    <a href="http://deluge-torrent.org/">Deluge</a>,
    <a href="http://www.utorrent.com/">µTorrent</a>.
  </p>
  <h3>Share your Torrent!</h3>
  <p style="text-align: left">
    Share the .torrent file with your friends to distribute the data
    via BitTorrent.
  </p>

  <a ng-click="restart()" class="blue button" id="restartButton">Create another Torrent</a>
</section>
